[submodule "glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ImGui"]
	path = 3rdParty/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
